Magic 271485
Revision Verdi_Q-2020.03

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1920 1017 183 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/lin/github/CIC_2013_grad/sim/FAS.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 8794.457806
cursor 500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 7
; marker line index
markerPos 43

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/lin/github/CIC_2013_grad/sim/FAS.fsdb"
addSignal -h 15 /testfixture1/DUT/clk
addSignal -h 15 -holdScope counter_fft[3:0]
addSignal -h 15 -holdScope fft_d0[31:0]
addSignal -h 15 -holdScope fft_d1[31:0]
addSignal -h 15 -holdScope fft_d2[31:0]
addSignal -h 15 -holdScope fft_d3[31:0]
addSignal -h 15 -holdScope fft_d4[31:0]
addSignal -h 15 -holdScope fft_d5[31:0]
addSignal -h 15 -holdScope fft_d6[31:0]
addSignal -h 15 -holdScope fft_d7[31:0]
addSignal -h 15 -holdScope fft_d8[31:0]
addSignal -h 15 -holdScope fft_d9[31:0]
addSignal -h 15 -holdScope fft_d10[31:0]
addSignal -h 15 -holdScope fft_d11[31:0]
addSignal -h 15 -holdScope fft_d12[31:0]
addSignal -h 15 -holdScope fft_d13[31:0]
addSignal -h 15 -holdScope fft_d14[31:0]
addSignal -h 15 -holdScope fft_d15[31:0]
addSignal -h 15 -holdScope pow2_add_0[32:0]
addSignal -h 15 -holdScope pow2_add_1[32:0]
addSignal -h 15 -holdScope pow2_add_2[32:0]
addSignal -h 15 -holdScope pow2_add_3[32:0]
addSignal -h 15 -holdScope pow2_add_4[32:0]
addSignal -h 15 -holdScope pow2_add_5[32:0]
addSignal -h 15 -holdScope pow2_add_6[32:0]
addSignal -h 15 -holdScope pow2_add_7[32:0]
addSignal -h 15 -holdScope pow2_add_8[32:0]
addSignal -h 15 -holdScope pow2_add_9[32:0]
addSignal -h 15 -holdScope pow2_add_10[32:0]
addSignal -h 15 -holdScope pow2_add_11[32:0]
addSignal -h 15 -holdScope pow2_add_12[32:0]
addSignal -h 15 -holdScope pow2_add_13[32:0]
addSignal -h 15 -holdScope pow2_add_14[32:0]
addSignal -h 15 -holdScope pow2_add_15[32:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_0[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_1[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_2[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_3[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_4[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_5[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_6[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_1_7[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_2_0[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_2_1[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_2_2[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_2_3[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_3_0[36:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cmp_3_1[36:0]
addSignal -h 15 -holdScope freq[3:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/lin/github/CIC_2013_grad/sim/FAS.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/testfixture1"
"/testfixture1/DUT"

SCOPE_LIST_BEGIN
"/testfixture1"
"/testfixture1/DUT"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


